<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>

    <!-- Favicon -->
    <link rel="icon" href="image/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <!-- External Stylesheets -->
    <link rel="stylesheet" href="~/linearicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CRoboto:400%7CRubik:100,400,700">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
            <p>Loading...</p>
        </div>
    </div>

    <!-- Page Content -->
    <div class="page">


        <!-- Page Header -->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand"><a class="rd-nav-link" href="@Url.Action("Index", "Home")"><img class="brand-logo-light" src="~/image/logo-2.png" alt="" width="207" height="51" /></a></div>
                            </div>
                            <div class="rd-navbar-main-element">
                                <div class="rd-navbar-nav-wrap">
                                    <!-- RD Navbar Nav-->
                                    <ul class="rd-navbar-nav">
                                        <li class="rd-nav-item active">
                                            <a class="rd-nav-link" href="@Url.Action("Index", "Home")">Home</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="@Url.Action("AboutUS", "Home")">About Us</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="@Url.Action("Typography", "Home")">Typography</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="@Url.Action("Contacts", "Home")">Contacts</a>
                                        </li>
                                    </ul>

                                    </ul><a class="button button-primary button-sm" href="@Url.Action("Donate")">Donate</a>
                                </div>
                            </div><a class="button button-primary button-sm" href="@Url.Action("Donate")">Donate</a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <!-- Swiper Section -->
        <section class="section section-lg section-main-bunner section-main-bunner-filter">
            <div class="main-bunner-inner">
                <div class="container">
                    <div class="row row-50 justify-content-lg-center align-items-lg-center">
                        <div class="col-lg-12">
                            <div class="bunner-content-modern text-center">
                                <h1 class="main-bunner-title">
                                    Save A Child
                                    For Better world
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Mission Section -->
        <section class="section section-xl">
            <div class="container">
                <div class="row row-50 justify-content-lg-between align-items-lg-center">
                    <div class="col-lg-6">
                        <div class="box-img-animate">
                            <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;: 0, &quot;x&quot;: 140,  &quot;smoothness&quot;: 50 }"><img src="~/image/animate-img-1.png" alt=""></div>
                            <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;: 150, &quot;x&quot;: 0,  &quot;smoothness&quot;: 50 }"><img src="~/image/animate-img-2.png" alt=""></div>
                            <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:70, &quot;x&quot;: -250,  &quot;smoothness&quot;: 50 }"><img src="~/image/animate-img-3.png" alt=""></div>
                            <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:20, &quot;x&quot;: 20,  &quot;smoothness&quot;: 50 }"><img src="~/image/animate-img-4.png" alt=""></div>
                            <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:60, &quot;x&quot;: 70,  &quot;smoothness&quot;: 50 }"><img src="~/image/animate-img-5.png" alt=""></div>
                            <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:0, &quot;x&quot;: 140,  &quot;smoothness&quot;: 50 }"><img src="~/image/animate-img-6.png" alt=""></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <div class="innset-xl-left-70">
                            <h3>Our Mission</h3>
                            <p class="text-opacity-80">Our organization pursues several goals that can be identified as our mission. Learn more about them below.</p>
                            <div class="row row-50">
                                <div class="col-md-6 col-lg-12">
                                    <div class="box-icon-modern">
                                        <div class="box-icon-inner decorate-triangle"><span class="icon-xl linearicons-baby2 icon-primary"></span></div>
                                        <div class="box-icon-caption">
                                            <h4><a href="#">Saving Children</a></h4>
                                            <p>Our primary mission is to save and rescue children who have been permanently displaced, offering them a chance at a brighter future.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12">
                                    <div class="box-icon-modern">
                                        <div class="box-icon-inner decorate-circle">
                                            <span class="icon-xl linearicons-sun icon-primary"></span>
                                        </div>
                                        <div class="box-icon-caption">
                                            <h4><a href="#">Peace On The Planet</a></h4>
                                            <p>In collaboration with our partners, we strive to foster peaceful relationships globally, contributing to a harmonious world for present and future generations.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12">
                                    <div class="box-icon-modern">
                                        <div class="box-icon-inner decorate-rectangle">
                                            <span class="icon-xl linearicons-umbrella2 icon-primary"></span>
                                        </div>
                                        <div class="box-icon-caption">
                                            <h4><a href="#">Care &amp; Protection</a></h4>
                                            <p>We extend our reach to provide comprehensive care and protection, ensuring support for children in need worldwide.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Latest Causes Section -->
        <section class="section section-lg bg-gray-1">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-9 col-lg-7 wow-outer">
                        <div class="wow slideInDown">
                            <h3>Latest Causes</h3>
                            <p>At ZAP , there are various charity causes and projects, in which you can always take part. Feel free to learn about them below or browse our website for more information.</p>
                        </div>
                    </div>
                </div>
                <div class="row row-50">
                    <div class="col-md-6 col-lg-4 wow-outer">
                        <div class="wow fadeInUp">
                            <article class="box-causes">
                                <div class="box-causes-img">
                                    <img src="~/image/gaza2.jpg" alt="" width="372" height="396" /><a class="button button-primary button-sm" href="@Url.Action("donate", "Home")">donate</a>
                                </div>
                                <h4 class="font-weight-medium"><a href="@Url.Action("Typography", "Home")">War in Gaza</a></h4>
                                <p class="box-causes-donate">
                                    <span class="box-causes-donate-complete">$92,160</span> of <span>$100,000</span> raised
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow-outer">
                        <div class="wow fadeInUp">
                            <article class="box-causes">
                                <div class="box-causes-img">
                                    <img src="~/image/water-2.jpg" alt="" width="372" height="396" /><a class="button button-primary button-sm" href="@Url.Action("donate", "Home")">donate</a>
                                </div>
                                <h4 class="font-weight-medium"><a href="@Url.Action("Typography", "Home")">Clean Water For People</a></h4>
                                <p class="box-causes-donate">
                                    <span class="box-causes-donate-complete">$52,380</span> of <span>$55,000</span> raised
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow-outer">
                        <div class="wow fadeInUp">
                            <article class="box-causes">
                                <div class="box-causes-img">
                                    <img src="~/image/edu-2.jpg" alt="" width="372" height="396" /><a class="button button-primary button-sm" href="@Url.Action("donate", "Home")">donate</a>
                                </div>
                                <h4 class="font-weight-medium"><a href="@Url.Action("Typography", "Home")">Children's Education</a></h4>
                                <p class="box-causes-donate">
                                    <span class="box-causes-donate-complete">$42,280</span> of <span>$45,000</span> raised
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Subscribe Section -->
        <section class="parallax-container bg-gray-600" data-parallax-img="~/image/parallax-img-2.png">
            <div class="parallax-content section-xxl text-center">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-md-9 col-lg-8 col-xl-8 wow-outer">
                            <div class="innset-xl-right-30 innset-xl-left-30">
                                <div class="wow slideInDown">
                                    <h3>Subscribe to Stay Informed</h3>
                                    <form id="subscribe-form" action="/subscribe" method="post">
                                        <div class="form-wrap">
                                            <label for="subscribe-form-email">Your E-mail:</label>
                                            <input class="form-input" id="subscribe-form-email" type="email" name="email" placeholder="Enter your email" required>
                                        </div>
                                        <div class="form-button">
                                            <button class="button button-primary button-lg" type="submit">Subscribe</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @RenderBody()
        <!-- Page Footer -->
        <footer class="section footer-minimal context-dark">
            <div class="container wow-outer">
                <div class="wow fadeIn">
                    <div class="row row-50 row-lg-60">
                        <div class="col-12"><a href="@Url.Action("Index", "Home")"><img src="~/image/logo-2.png" alt="" width="207" height="51" /></a></div>
                        <div class="col-12">
                            <ul class="footer-minimal-nav">
                                <li class="rd-nav-item"><a class="rd-nav-link" href="@Url.Action("AboutUs", "Home")">About</a></li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="@Url.Action("Typography", "Home")">Our Causes</a></li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="@Url.Action("Typography", "Home")">Gallery</a></li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="@Url.Action("AboutUs", "Home")">Our Team</a></li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="@Url.Action("Contacts", "Home")">Contact Us</a></li>
                            </ul>

                        </div>
                        <div class="col-12">
                            <ul class="social-list">
                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="#"></a></li>
                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="#"></a></li>
                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="#"></a></li>
                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play" href="#"></a></li>
                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-pinterest-p" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>
                </div>
            </div>
        </footer>
    </div>

    <!-- Global Form Output Snackbars -->
    <div class="snackbars" id="form-output-global"></div>

    <!-- Scripts -->
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
